/* --------------------------------------------------------------------------------- */
/* General
/* --------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
iframe{max-width:100%;}
.navbar-toggle {display: none;}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trump_town_proregular';
    src: url('../fonts/Trump_Town_Pro-webfont.eot');
    src: url('../fonts/Trump_Town_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Trump_Town_Pro-webfont.woff') format('woff'),
         url('../fonts/Trump_Town_Pro-webfont.ttf') format('truetype'),
         url('../fonts/Trump_Town_Pro-webfont.svg#trump_town_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'open_sansregular';
	background:#FFF;
	font-size:100%;
}

/* --------------------------------------------------------------------------------- */
/* Nav
/* --------------------------------------------------------------------------------- */

.top-nav-wrap {
	background: url(../images/header-bg.jpg);
}

.top-header {
	padding: 3em 0;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.top-header-small {
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
	padding: 0.8em 0;
}

/* --------------------------------------------------------------------------------- */
/* Wrap
/* --------------------------------------------------------------------------------- */

.wrap{
	width: 80%;
	margin: 0 auto;
}

/* --------------------------------------------------------------------------------- */
/* Top Nav
/* --------------------------------------------------------------------------------- */

.logo {
	float: left;
}

.logo span{
	height: 40px;
	width: 40px;
	display: inline-block;
	background: url(../images/logo-icon.png) no-repeat 0px 0px;
	vertical-align: text-middle;
	margin-right: 7px;
}

.logo a{
	font-family: 'trump_town_proregular';
	color: #3A494C;
	font-size: 3em;
	text-transform: uppercase;
}

.header{
	background: url(../images/header-bg.jpg);
	min-height: 500px;
}

.top-nav{
	float:right;
}

.top-nav ul li{
	display: inline-block;
	margin-left: 1em;
}

.top-nav ul li a{
	font-size: 1.3em;
	color: #3A494C;
	padding: 0.4em 1em;
	display: block;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	font-weight: 900;
}

.top-nav li.active> a, .top-nav li> a:hover {
	color: #A5D3DB;
	background:#3A494C;

}

/* --------------------------------------------------------------------- */
/* Hero
/* --------------------------------------------------------------------- */

.da-slider {
  width: 100%;
  position: relative;
  margin: 0 auto 30px;
  padding-top: 30px;
  overflow: hidden;
  -webkit-transition: background-position 1.4s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition: background-position 1.4s ease-in-out 0.3s;
  -ms-transition: background-position 1.4s ease-in-out 0.3s;
  -o-transition: background-position 1.4s ease-in-out 0.3s;
  transition: background-position 1.4s ease-in-out 0.3s;
}

.da-slide {
  top: 0;
  left: 0;
  font-family: 'trump_town_proregular';
  text-align: left;
}

  .da-slide .da-title {
    float: left;
    padding-top: 80px;
    top: 80px;
    color: #FFF;
    width: 50%;
    white-space: nowrap;
    z-index: 10;
    font-size:4em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .da-slide .da-title h3 {
    text-align: center;
    letter-spacing: 0.03em;
  }

.da-img {
  float: left;
  text-align: center;
  width: 440px;
  top: 20px;
  height: 340px;
  border: 20px solid #3A494C;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #404040;
}

/* --------------------------------------------------------------------------------- */
/* Features
/* --------------------------------------------------------------------------------- */

.features {
	padding: 6em 0;
}

.feature {
	text-align:center;
}

.feature:nth-child(3){
	margin-right:0;
}

.feature a{
	display:block;
}

.feature a span{
	font-size: 1.5em;
	color: #323232;
	font-family: trebuchet ms,'open_sansregular';
	font-weight: 900;
	margin:1em 0 0.6em 0;
	display:block;
}

.feature p{
	color:#5E5E5E;
	line-height:1.5em;
	width:90%;
	margin:0 auto;
}

/* --------------------------------------------------------------------------------- */
/* Blog
/* --------------------------------------------------------------------------------- */

.blog{
	background:#F0F1F0;
	padding:3em 0;
}

/* Blog Section */

.blog-grid-left{
	float:left;
}

/*.blog-grid-left span,.blog-grid2-right span{
	width: 339px;
	height: 270px;
	display: block;
	background: url(../images/blog-pic1.png) no-repeat;
	cursor:pointer;
}
*/
.blog-grid-right{
  padding-top: 15px;
	float: right;
}

.blog-grid-right h3 a ,.blog-grid2-left h3 a{
	font-size: 2em;
	color: #3A494C;
	padding: 0.4em 0;
	font-family: trebuchet ms,'open_sansregular';
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.blog-grid-right h3 a:hover{
	color:#9AD4A6;
}

.blog-grid2-left h3 a:hover{
	color:#A5D3DB;
}

.blog-grid-right p,.blog-grid2-left p{
	color: #515151;
	font-size: 1.4em;
	margin: 0.9em 0 1.4em 0;
}

.blogbtng{
	background: #9AD4A6;
	color: #FFF;
	border-radius: 0.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 1.2em 1.5em;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.blogbtng:hover{
	background: #323232;
	color:#FFF;
}

.blog-grid1 {
	border-bottom: 1px solid rgba(119, 119, 119, 0.18);
	padding: 3em 0 5em 0;
}

/*----*/

.blog-grid2-left{
	float:left;
	width:70%;
}

.blog-grid2-right{
	float: right;
	width: 27%;
}

.blogbtnb{
	background: #A5D3DB;
	color: #FFF;
	border-radius: 0.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 1.2em 1.5em;
	font-size: 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.blogbtnb:hover{
	background: #323232;
	color:#FFF;
}

.blog-grid2 {
	margin: 4em 0 3em 0;
}

/* --------------------------------------------------------------------------------- */
/* Footer
/* --------------------------------------------------------------------------------- */

.footer{
	background: #3C3C3C;
}

.footer-grids{
	border-top: 1px solid rgba(34, 34, 34, 0.33);
	padding: 2em 0;
}

.footer-left{
	float:left;
}

.footer-left ul li a{
	width: 57px;
	height: 56px;
	display: block;
}

.footer-left ul li{
	display:inline-block;
	margin-right:5px;
}

.ftwiter{
	background:url(../images/footer-social-icons.png) no-repeat 0px 0px;
}

.ftwiter:hover{
	background:url(../images/footer-social-icons.png) no-repeat 0px -56px;
}

.fface{
	background: url(../images/footer-social-icons.png) no-repeat -70px 0px;
}

.fface:hover{
	background: url(../images/footer-social-icons.png) no-repeat -70px -56px;
}

.fhtml{
	background: url(../images/footer-social-icons.png) no-repeat -143px 0px;
}

.fhtml:hover{
	background: url(../images/footer-social-icons.png) no-repeat -143px -56px;
}

.fflick{
	background: url(../images/footer-social-icons.png) no-repeat -221px 0px;
}

.fflick:hover{
	background: url(../images/footer-social-icons.png) no-repeat -221px -56px;
}

.footer-right{
	float: right;
	margin-top: 1em;
}

.footer-right p{
	color:#9C9D9D;
}

.footer-right p a{
	color:#FED67F;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}

.footer-right p a:hover{
	color:#FFF;
}

/* --------------------------------------------------------------------------------- */
/* Scroll To Top
/* --------------------------------------------------------------------------------- */

.scroll-to-top {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 49px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
	bottom: 10px;
  display: block;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------- */
/* Ribbon
/* --------------------------------------------------------------------------------- */

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;

  -webkit-animation: fadein 1s; /* Safari and Chrome */
     -moz-animation: fadein 1s; /* Firefox */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera */
          animation: fadein 1s;
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}​

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  /* Rotate the banner -45 degrees */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #3A494C;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.15));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');

  /* Add a drop shadow */
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);

  z-index: 9999;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the font */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;

  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: rgba(255,255,255,0.7);
}

/* --------------------------------------------------------------------------------- */
/* Gallery
/* --------------------------------------------------------------------------------- */

.content-head {
	padding: 3em 0;
	text-align:center;
}

.content-head h3 {
	color: #3A494C;
	font-size: 4.5em;
	font-family: 'trump_town_proregular';
	text-transform: uppercase;
}

.content-head p {
	color: #3A494C;
	line-height: 1.5em;
	width: 50%;
  min-width: 250px;
	margin: 0 auto;
}

.content-body {
	padding-bottom: 4em;
}

.search {
	padding-bottom: 1em;
}

input[type="text"] {
  background: #FFF;
  padding: 0.8em 0.8em;
  font-size: 1em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  width: 300px;
  border: 1px solid #ccc;
  outline: none;
  color: #A3A3A3;
  font-family: 'open_sansregular';
  margin-left: 1em;
  margin-bottom: 1em;
}

/* --------------------------------------------------------------------------------- */
/* Recent Posts
/* --------------------------------------------------------------------------------- */

.recent-posts{
  background: url(../images/portfolio-bg.jpg);
  padding: 2em 0;
}
.post-grids {
  margin: 2em 0 0;
}
.post-grid{
  width: 29.33%;
  float: left;
  margin-right: 5%;
  text-align: center;
  background: #FFF;
  padding-bottom: 1em;
  margin-bottom: 5em;
  box-shadow: 0px 0px 10px rgba(238, 238, 238, 0.08);
}
.post-grid:nth-child(3){
  margin-right:0;
}

.recent-posts-head{
  text-align:center;
}
.recent-posts-head h3{
  color: #FFF;
  font-size: 3em;
  font-family: 'trump_town_proregular';
  text-transform: uppercase;
}
.recent-posts-head p{
  color: #EEE;
  line-height: 1.5em;
  width: 50%;
  min-width: 250px;
  margin: 0 auto;
}
.post-grid span{
  background: #E9E9E9;
  width: 100%;
  padding: 4em 0px;
  display: block;
  cursor:pointer;
}
.post-grid span a{
  width: 80px;
  height: 80px;
  display: inline-block;
  background-repeat: no-repeat;
}
.post-grid h4 a{
  color: #383838;
  font-family: trebuchet ms,'open_sansregular';
  font-size: 1.8em;
  margin: 1em 0 0em 0;
  display: block;
  font-weight: 900;
}
.post-grid p{
  color: #909090;
  width: 90%;
  font-size: 1.1em;
  margin: 1em auto;
  line-height: 1.5em;
}
.post-grid label{
  color:#545454;
  font-size:1.2em;
  font-style:italic;
}

/* --------------------------------------------------------------------------------- */
/* Tables
/* --------------------------------------------------------------------------------- */

table {
	font-size: 1.1em;
	color: #515151;
	width: 100%;
}

th {
	text-align: left;
	font-size: 0.9em;
	padding: 11px 0 15px 3px;
	color: rgb(150,150,150);
	border-top: 1px solid #ccc;
}

th .sort {
	cursor: pointer;
	padding-left: 3px;
}

tr.odd {
	background: rgb(203,240,246);
}

td a {
	text-decoration: none;
	color: #515151;
}

td {
	padding: 12px 0 12px 3px;
	color: rgb(150,150,150);
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ */
  -o-text-overflow: ellipsis;  /* for Opera 9 & 10 */
}

td:first-child, th:first-child {
	padding-left: 5px;
}

.td-desc {
	min-width: 200px;
  max-width: 300px;
}

.td-site {
	min-width: 150px;
	max-width: 200px;
}

.td-date {
	width: 100px;
}

.td-duration {
  width: 150px;
}

.td-hype {
  cursor: pointer;
	width: 65px;
}

.td-views {
	width: 65px;
}

/* --------------------------------------------------------------------------------- */
/* Tablets and Mobile
/* --------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .post-grid {
    float: none;
    width: 100%;
    margin: 20px auto;
  }
  .navbar-toggle { display: block; padding-top: 0; }
  .github-fork-ribbon-wrapper { display: none; }
  .logo a { font-size: 2.5em; }
  .wrap { width: 85%; }
  .top-header { padding: 1em 0; }
  .top-nav ul li {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 479px) {
  input[type="text"] { width: 200px; }
  .da-slide .da-title { padding-top: 0; white-space: normal; font-size: 2.5em; width: 100%; padding-bottom: 1.5em; }
}

/* --------------------------------------------------------------------------------- */
/* 301
/* --------------------------------------------------------------------------------- */

.extension-bg {
  background: url(../images/header-bg.jpg);
  padding-top: 50px;
}

.logo-large {
  text-align: center;
}

.logo-large span{
  height: 240px;
  width: 240px;
  display: inline-block;
  background: url(../images/logo-icon-large.png) no-repeat 0px 0px;
  vertical-align: text-middle;
}

.logo-large a{
  font-family: 'trump_town_proregular';
  color: #3A494C;
  font-size: 3em;
  text-transform: uppercase;
}

.extension-container {
  padding: 2em 3.5em 3.5em 3.5em;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 40px;
}

.extension-bg h3 {
  margin: 0.9em 0 0.9em 0;
  color: #3A494C;
  font-size: 2em;
}

.extension-bg p {
  color: #3A494C;
  font-size: 1em;
  margin: 0.5em 0 0.5em 0;
}

.extension-bg li {
  color: #3A494C;
  font-size: 1em;
  list-style: disc outside none;
  margin: 0.4em 1em;
}

.extension-bg li > a {
  color: #3A494C;
  border-bottom: 1px #3A494C dotted;
}

.extension-bg li > a:hover {
  color: #999;
}

/* --------------------------------------------------------------------------------- */
/* Pulse
/* --------------------------------------------------------------------------------- */

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}

/* --------------------------------------------------------------------------------- */
/* Pull Up
/* --------------------------------------------------------------------------------- */

.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}