<!--Start Demo-->
<div class="content container">
  <div class="content-head">
    <h3>Demo</h3>
    <p>Check out what some folks have used Klickr for!</p>
  </div>
  <div class="container" >
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="http://www.klickr.io/?url=https%3A%2F%2Ftwitter.com%2F&amp;id=53508f1c7141a1326c5f0ffc"><img src="/images/twitter.png" alt="" /></a>
      <a href="#"><span>Twitter</span></a>
      <p>Hey Mom, here's how you sign up for Twitter.</p>
    </div>
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="http://www.klickr.io/?url=http%3A%2F%2Fbookstrap.hackreactor.com%2F&amp;id=535092857141a1326c5f116f"><img src="/images/hack-reactor-logo.png" alt="" /></a>
      <a href="#"><span>Bookstrap</span></a>
      <p>Hack Reactor students, get up to speed quickly on Bookstrap.</p>
    </div>
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="#"><img src="/images/foodbot.png" alt="" /></a>
      <a href="#"><span>Foodbot</span></a>
      <p>Want to find free food around you? Here's a quick tutorial.</p>
    </div>
    <div class="clear"> </div>
  </div>
  <br />
</div>
<!--End Demo-->