<!-- Start Hero -->
<div class="header" id="home">
  <div class="container">
    <div class="da-slider">
      <div class="col-md-6 da-slide">
        <div class="da-title">
          <h3>Make and share<br/>web tutorials</h3>
        </div>
        <div class="da-img">
          <img src="/images/slider-pic1.png" alt="Klick" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Start Ribbon -->
<div class="github-fork-ribbon-wrapper right" style="pointer-events: none;">
  <div class="github-fork-ribbon">
    <a href="http://www.hackreactor.com" target="_blank" style="pointer-events: all;">Made at Hack Reactor</a>
  </div>
</div>
<!-- End Ribbon -->

<!-- Start Features -->
<div class="features" ng-controller="FeatureCtrl" scroll-position="scroll">
  <div class="container" >
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="#"><img src="/images/top-grid-pic1.png" alt="" /></a>
      <a href="#"><span>Make</span></a>
      <p>Make tutorials that play natively on your Chrome browser.</p>
    </div>
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="#"><img src="/images/top-grid-pic2.png" alt="" /></a>
      <a href="#"><span>Share</span></a>
      <p>Share them with your friends and family. Teach your mum how to use Gmail.</p>
    </div>
    <div class="col-md-4 feature">
      <a ng-class="{pullUp: scroll > 50}" href="#"><img src="/images/top-grid-pic4.png" alt="" /></a>
      <a href="#"><span>Learn</span></a>
      <p>Learn without having to pour through an endless list of instructions again.</p>
    </div>
    <div class="clear"> </div>
  </div>
</div>
<!-- End Features -->

<!-- Start Blog -->
<div class="blog" ng-controller="BlogCtrl" scroll-position="scroll">
  <div class="container">
    <div class="blog-grids">
      <div class="blog-grid blog-grid1">
        <div class="col-md-5 blog-grid-left" onclick="location.href='#';">
          <span ng-class="{pullUp: scroll > 600}"><iframe src="//player.vimeo.com/video/92195464?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></span>
        </div>
        <div class="col-md-7 blog-grid-right">
          <h3><a href="#">Getting Started</a></h3>
          <p>Install. Learn. Record. Share. It's that simple. Watch our video on how to get started.</p>
          <a class="blogbtng popup-with-zoom-anim" href="#">Download</a>
        </div>
        <div class="clear"> </div>
      </div>
      <!---->
      <div class="blog-grid2">
        <div class="blog-grid2-left">
          <h3><a href="#">About</a></h3>
          <p>Klickr is a Chrome extension that helps you record and annotate screencasts on your Chrome browser that you can share with your friends and family.</p>
          <a class="blogbtnb popup-with-zoom-anim" href="#/gallery">Gallery</a>
        </div>
        <div class="blog-grid2-right" onclick="location.href='#';">
          <span ng-class="{pullUp: scroll > 800}"></span>
        </div>
        <div class="clear"> </div>
      </div>
      <!---->
      <div class="clear"> </div>
     </div>
  </div>
</div>
<!-- End Blog -->