<!--start-wrap-->
<!---start-header-->
<div class="header" id="home">
  <div class="wrap">
    <div class="da-slider">
      <div class="da-slide">
        <div class="da-title">
          <h3>Make and share<br/>web tutorials</h3>
        </div>
        <div class="da-img">
          <img src="/images/slider-pic1.png" alt="Klick" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--End-header-->
<!--start-content-->
<div class="content">
<div class="wrap">
<!---start-top-grids-->
  <div class="top-service-grids" id="services">
    <div class="top-service-grid">
      <a href="#"><img src="/images/top-grid-pic1.png" alt="" /></a>
      <a href="#"><span>Make</span></a>
      <p>Make tutorials that play natively on your browser.</p>
    </div>
    <div class="top-service-grid">
      <a href="#"><img src="/images/top-grid-pic2.png" alt="" /></a>
      <a href="#"><span>Share</span></a>
      <p>Share them with your friends and family. Teach your mum how to use Gmail.</p>
    </div>
    <div class="top-service-grid">
      <a href="#"><img src="/images/top-grid-pic4.png" alt="" /></a>
      <a href="#"><span>Learn</span></a>
      <p>Watch our tutorials, learn visually and never have to pour through a long list of instructions again.</p>
    </div>
    <div class="clear"> </div>
  </div>
<!--End-top-grids-->
</div>
<!-- start-blog-->
<div class="blog">
  <div class="wrap">
    <div class="blog-grids">
      <div class="blog-grid blog-grid1">
        <div class="blog-grid-left" onclick="location.href='#';">
          <span> </span>
        </div>
        <div class="blog-grid-right">
          <h3><a href="#">Your First Klick</a></h3>
          <p>It's easy! Install the Chrome extension, record, annotate and save. We'll give you a link to share your Klick with your friends.</p>
          <a class="blogbtng popup-with-zoom-anim" href="#">Download</a>
        </div>
        <div class="clear"> </div>
      </div>
      <!---->
      <div class="blog-grid2">
        <div class="blog-grid2-left">
          <h3><a href="#">How To Watch a Klick</a></h3>
          <p>Watch our tutorials, learn visually and never have to pour through a long list of instructions again.</p>
          <a class="blogbtnb popup-with-zoom-anim" href="#/gallery">Gallery</a>
        </div>
        <div class="blog-grid2-right" onclick="location.href='#';">
          <span> </span>
        </div>
        <div class="clear"> </div>
      </div>
      <!---->
      <div class="clear"> </div>
     </div>
  </div>
</div>
<!--End-blog-->
</div>
<!--End-content-->
<!--End-wrap-->